<head>
    <div th:insert="navigation/workerNav.html"></div>
</head>
<center>
    <div class="mt-5">
        <table class="table table-striped table-hover w-50 table-borderless
     bg-teal-500 bg-clip-padding bg-no-repeat
      py-1.5
      text-base
      font-normal
      text-gray-700
">
            <tr>
                <th>S.No</th>
                <th>UserName</th>
                <th>UserNumber</th>
                <th>WorkName</th>
                <th>WorkerType</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
            <form action="/workerApprove" method="post">
                <tr th:each="order : ${orders}">
                    <td th:text="${order.id}"></td>
                    <td th:text="${order.userName}"></td>
                    <td th:text="${order.userNumber}"></td>
                    <td th:text="${order.workerName}"></td>
                    <td th:text="${order.workType}"></td>
                    <td th:text="${order.status}"></td>
                    <td>
                        <input type="text" th:value="order.status"  name="status" hidden/>
                        <input type="submit" class="btn btn-info" value="Accept">
                    </td>
            </form>
            </tr>
            </tr>
        </table>
    </div>
</center>