<head>
  <div th:insert="navigation/adminNav.html"></div>
</head>
<center>
  <div class="mt-5">
    <table class="table table-striped table-hover w-50 table-borderless
      bg-teal-500 bg-clip-padding bg-no-repeat
      py-1.5
      text-base
      font-normal
      text-gray-700
">
      <tr>
        <th>S.No</th>
        <th> User Name</th>
        <th>User Email</th>
        <th>User Address</th>
      </tr>
      <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.phoneNumber}"></td>
      </tr>
      </tr>
    </table>
  </div>
</center>