<div th:insert="navigation/mainNav.html"></div>
<html lang="en">
<head>
    <link rel="stylesheet " href="/styles.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Home</title>
</head>
<body class="bg-#f8fafc">

<div class="mt-5">
        <center>
            <h2 class="display-3 text-teal-500">Welcome to Home Services</h2>

        <img src="https://media.istockphoto.com/id/1270347958/vector/family-moving-to-new-house.jpg?s=612x612&w=0&k=20&c=5skDb83pcjGQK8Iz6vOaSmQ4rx1jg2_Ju_7YJQoHoUs=">
        </center></div>
</body>
</html>