<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet " href="/styles.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Worker</title>
</head>
<body class="bg-#f8fafc">
<div class="container mx-auto">
    <nav class="  rounded-full  flex items-center justify-between flex-wrap bg-teal-500 p-6 mt-3 " >
        <div class="flex items-center flex-shrink-0 text-white mr-6">
            <span class="font-semibold text-xxl tracking-tight text-3xl ">Home Services</span>
        </div>
        <div class="w-full block flex-grow lg:flex lg:items-end lg:w-auto justify-end ">
            <ul class="flex">
                <div class="text-sm lg:flex-grow">
                    <a href="/" class="block text-lg lg:inline-block  text-teal-200 hover:text-white">
                        Home
                    </a>
                </div>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <div class="text-sm lg:flex-grow">
                    <a href="/orders" class="block text-lg lg:inline-block  text-teal-200 hover:text-white">
                        View Orders
                    </a>
                </div>
                &nbsp;&nbsp;&nbsp;&nbsp;
<!--                <div class="text-sm lg:flex-grow">-->
<!--                    <a href="#" class="block text-lg lg:inline-block  text-teal-200 hover:text-white">-->
<!--                        Transaction-->
<!--                    </a>-->
<!--                </div>-->
            </ul>
        </div>
    </nav>
</div>
</body>
</html>